<html>
    <head>
        <title>Dermatologist</title>
        <link rel="stylesheet" type="text/css" href="employee-notif.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-container">
            <div class="header"></div>
            <div class="flex-container">
                <div class="popup-nav">
                    <div class="logo">
                        <img src="JobPortal Logo Emblem.png" alt="Cosmedic">
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="employee-profile.html" class="nav-link">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <span class="nav-text">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="employee-jobs.html" class="nav-link">
                                <ion-icon name="briefcase-outline"></ion-icon>
                                <span class="nav-text">Jobs</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="employee-notif.html" class="nav-link">
                                <ion-icon name="notifications-outline"></ion-icon>
                                <span class="nav-text">Notification</span>
                            </a>
                    </ul>
                </div>
            </div>
            
            <div class="right-container">
                <div class="dashboard-header">
                    <span>Notification</span>
                </div>

                <div class="notif">
                    <div class="notif-container">
                        <h1>Company Name</h1>
                        <h2 class="text">Subject</h2>
                        <span class="text">DescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                        </span>
                    </div>
                </div>
                <div class="notif">
                    <div class="notif-container">
                        <h1>Company Name</h1>
                        <h2 class="text">Subject</h2>
                        <span class="text">DescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                            DescripttionDescripttionDescripttionDescripttionDescripttionDescripttionDescripttion
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>