{% load static %}
<!DOCTYPE html>
<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/alert-page.css' %}">
    <link rel="icon" href="{% static 'img/JobPortal Logo Emblem White-BG.png' %}" type="image/icon type">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="bg-container">
            <div class="container">
                <div class="container-img">
                    <img src="{% static 'img/404.svg' %}" alt="" srcset="">
                </div>
                <div class="container-right">
                    <h1>Sorry!</h1>
                    <p>You are not authorized to access this page. Please check your login credentials or contact the administrator fora access</p>
                    <div class="container-btn">
                        <a type="button" value="Back to Home" class="home" href="{% url 'index' %}">Home</a>
                        <a type="button" value="Logout" class="logout" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>