{% load static %}
<html>
    <head>
        <title>Dermatologist</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/employee-profile.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-container">
            <div class="header"></div>
            <div class="flex-container">
                <div class="popup-nav">
                    <div class="logo">
                        <img class="logo" src="{% static 'img/JobPortal Logo Emblem.png' %}" alt="logo">
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="employee-profile.html" class="nav-link">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <span class="nav-text">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="employee-jobs.html" class="nav-link">
                                <ion-icon name="briefcase-outline"></ion-icon>
                                <span class="nav-text">Jobs</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="employee-notif.html" class="nav-link">
                                <ion-icon name="notifications-outline"></ion-icon>
                                <span class="nav-text">Notification</span>
                            </a>
                    </ul>
                </div>
            </div>
            
            <div class="right-container">
                <div class="profile-header">
                    <span>Profile</span>
                </div>
                
                <div class="profile-container">
                    <div class="flex-profile">
                        <div class="name">
                            <div class="top-design"></div>
                            <div class="pic-container">
                                <div class="profile-pic pic">
                                    <!--<img class="logo" src="{% static 'img/InstaGreen - Copy.jpg' %}" alt="logo">-->
                                </div>
                            </div>
                            <span class="profile-name">{{ user.username }}</span>
                        </div>
                        
                        <div class="flex-personal-info">
                            <div class="peronal-info-container">
                                <span class="profile-info-h1">Personal Bio</span>
                                <div class="info-container">
                                    <span class="profile-info-h2">Birthday: </span>
                                    <span class="profile-info">10/20/2002</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Age: </span>
                                    <span class="profile-info"> 20</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Sex: </span>
                                    <span class="profile-info">Male</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Citizenship: </span>
                                    <span class="profile-info">Filipino</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Civil Status: </span>
                                    <span class="profile-info">Single</span>
                                </div>

                            </div>
                            <div class="peronal-exp-container">
                                <span class="profile-info-h1">Professional Experience</span>
                                <div class="info-container">
                                    <span class="profile-info-h2">Current Company: </span>
                                    <span class="profile-info">Skinol Derm</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Field Of Experties: </span>
                                    <span class="profile-info">Cosmetic Dermatology</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Years of Experience: </span>
                                    <span class="profile-info">1</span>
                                </div>
                                <a href="derma-profile.html">
                                    <input type="submit" class="resume" value="View Resume"></input>
                                </a>
                            </div>
                        </div>

                        <div class="contact-container">
                            <ul>
                                <li>
                                    <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
                                    </span>
                                    <span class="text">+639186453724</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    </span>
                                    <span class="text">deasisdexter4@gmail.com</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                    <span class="text">0844 Tiaong Guiguinto Bulacan</span>
                                </li>
                             </ul>
                        </div>
                    </div>
                    <div class="flex-edit">
                        <div class="edit-container">
                            <a href="employee-edit.html">
                                <button class="edit"><ion-icon name="settings-outline"></ion-icon>  Edit Profile</button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>


        
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
        <script src="newmember-chart.js"></script>
        <script src="earning-chart.js"></script>
    </body>
</html>