{% load static %}
<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <header>
            <img class="logo" src="{% static 'img/JobPortal Logo Mix.png' %}" alt="logo">
            <a href="login.html"><i class="fa-solid fa-user"></i></a>
        </header>
        <div class="bg-container">
            <div class="container">
                <div>
                    <a href="home"><button class="back"><ion-icon name="close-circle-outline"></ion-icon></button></a>
                </div>
                <div class="container-left">
                    <div class="social-container">
                        <section>
                            <h1>Login</h1>
                        </section>
                    </div>
                    <form action="{% url 'home' %}" method="post">
                        {% csrf_token %}
                        <div class="login-info"> 
                            <label class="info-label">Email</label><br>
                            {{ form.email }}
                            <label class="info-label">Password</label><br>
                            {{ form.password }}
    
                            <div class="cf-container">
                                <div class="checkbox-container">
                                    <input type="checkbox" class="check"><label>Remember me</label></input>
                                </div>
                                <div class="forgot-container">
                                    <label class="forgot-pass">Forgot Password?</label> 
                                </div>
                            </div>
                            
                            <div class="login-container">
                                <button  type="submit" class="login">
                                    <span class="loginTxt">Login</span>
                                </button>
                            </div>
    
                            <div class="signup">
                                Don't have an account? <a href="{% url 'signup' %}"> SignUp </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </form>
    </section>
</body>
</html>