{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup-style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="{% static 'js/city.js' %}"></script>
    <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <header>
            <img class="logo" src="{% static 'img/JobPortal Logo Emblem.png' %}" alt="logo">
        </header>
        <div class="bg-container">
            <div class="container">
                <div>
                    <a href="home"><button class="back"><ion-icon name="close-circle-outline"></ion-icon></button></a>
                </div>
                <div class="container-left">
                    <div class="social-container">
                        <section>
                            <h1>Sign up</h1>
                        </section>
                    </div>
                    <div class="info">
                        <form action="{% url 'signup' %}" method="post">
                            {% csrf_token %}
                            <label>First Name</label><br>
                            {{ form.first_name }}
                            <label>Last Name</label><br>
                            {{ form.last_name }}
                            <label>Userame</label><br>
                            {{ form.username }}
                            <label>Email</label><br>
                            {{ form.email }}
                            <label>Phone Number</label><br>
                            {{ form.phone_number }}
                            <label>Province</label><br>
                            {{ form.province }}
                            <label>Municipality</label><br>
                            {{ form.municipality }}
                            <label>What are You?</label><br>
                            {{ form.user_type }}
                            <label>Password</label><br>
                            {{ form.password }}
                            <label>Confirm Password</label><br>
                            {{ form.confirm_password }}
                            <div class="check-container">
                                <input type="checkbox" class="check">
                                <p>I agree with all the <span>Terms</span>, <span>Privacy Policy</span> and <span>Fees</span></p>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <div class = "signup-container">
                                <input type="submit" class="form-btn" name="signUp" placeholder="Sign Up"><br>
                            </div> 
                        </form>
                    </div>
                    <div class ="login">
                            Already a Member? <a href="{% url 'index' %}">Login</a>
                    </div>  
                </div>
                <div class="container-right">
                    <img src="{% static 'img/JobPortal Logo Mix.png'%}" alt="JobSipat Logo">
                </div>
            </div>
        </div>
        </form>
    </section>
    <script>	
        window.onload = function() {	
        
            // ---------------
            // basic usage
            // ---------------
            var $ = new City();
            $.showProvinces("#province");
            $.showCities("#city");
        
            // ------------------
            // additional methods 
            // -------------------
        
            // will return all provinces 
            console.log($.getProvinces());
            
            // will return all cities 
            console.log($.getAllCities());
            
            // will return all cities under specific province (e.g Batangas)
            console.log($.getCities("Batangas"));	
            
        }
    </script>
</body>
</html>