{% load static %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/employee-jobs.css' %}">

        <link rel="icon" href="{% static 'img/JobPortal Logo Emblem.png' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <div class="header"></div>
                <div class="flex-container">
                    <div class="popup-nav">
                        <div class="logo">
                            <img class="logo" src="{% static 'img/JobPortal Logo Emblem White-BG.png' %}" alt="logo">
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{% url 'applicantProfile' %}" class="nav-link">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                    <span class="nav-text">Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'applicantHome' %}" class="nav-link">
                                    <ion-icon name="briefcase-outline"></ion-icon>
                                    <span class="nav-text">Jobs</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'applicantNotif' %}" class="nav-link">
                                    <ion-icon name="notifications-outline"></ion-icon>
                                    <span class="nav-text">Notification</span>
                                    <span class="nav-text">{{ unread_notification_count }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href=""  class="nav-link" data-toggle="modal" data-target="#logoutModal">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                    <span class="nav-text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        Are you sure u want to log out?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <a href="{% url 'logout' %}"  type="button" class="btn btn-primary">Yes</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="right-container">
                    <div class="client-header">
                        <div class="client-flex">
                            <span>Jobs</span>
                            <form method="get">
                                {% csrf_token %}
                                <div class="client-flex-search">
                                    <div class="search-container">
                                        <div class="client-flex">
                                            {{ form.job_title }}
                                            <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                                        </div>
                                    </div>
                                    <div class="search-container">
                                        <div class="client-flex">
                                            {{ form.skills }}
                                            <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                                        </div>
                                    </div>
                                    <div class="search-container">
                                        <div class="client-flex">
                                            {{ form.city }}
                                            <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                                        </div>
                                    </div>
                                    <div class="search-container">
                                        <div class="client-flex">
                                            {{ form.country }}
                                            <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="profile-container">
                        <div class="grid-profile">
                            {% for job_post in job_posts %}
                                <div class="name">
                                    <div class="top-design"></div>
                                    <div class="company-info">
                                        <span class="company-name">{{ job_post.title }}</span>
                                        <span class="company-add">{{ job_post.company_name }}</span>
                                            <details class="accordion">
                                                <summary class="accordion-btn">Company Job Details:</summary>
                                                <div class="accordion-content">
                                                    <p></p>
                                                    <p>Location: {{ job_post.address }}</p>
                                                    <p>Job Position: {{ job_post.job_position }}</p>
                                                    <p>Type: {{ job_post.employment_type }}</p>
                                                    <p>Salary: ₱{{ job_post.salary_offer }}/month</p>
                                                </div>
                                            </details>
                                        <div class="peronal-info-container">
                                            <details class="accordion">
                                                <summary class="accordion-btn">Job Description:</summary>
                                                <div class="accordion-content">
                                                    <p></p>
                                                    <p>Primary Duties: {{ job_post.primary_duties }}</p>
                                                    <p>Description: {{ job_post.job_description }}</p>
                                                    <p>Recommended Skills:</p>
                                                    <div class="tags" id="job-tags-container">
                                                        {% for skill_recommended in job_post.skills_recommended.all %}
                                                            <p class="tag">{{ skill_recommended.name }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <p>{{ job_post.created_at }}</p>
                                                </div>
                                            </details>
                                        </div>
                                        <div class="flex-edit">
                                            <div class="edit-container">
                                                <a href="{% url 'applicantViewJob' job_post.id %}">
                                                    <button class="edit"><ion-icon name="open-outline"></ion-icon> Apply For The Job</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="recco">
                            <div class="top-design"></div>
                            {% if recommended_jobs %}
                                <div class="recco-container">
                                    <span>Recommended</span>
                                    <div class="recco-scroll">
                                        {% for recommended_job in recommended_jobs %}
                                            <div class="recco-company">
                                                <h1>{{ recommended_job.company_name }}</h1>
                                                <p>Job: {{ recommended_job.field_of_expertise.first.name }}</p>
                                                <p>Type: {{ recommended_job.employment_type }}</p>
                                                <p>Salary: {{ recommended_job.salary_offer }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>