{% load static %}
<html>
    <head>
        <title>Company Profile</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/company-profile.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <div class="header"></div>
            <div class="flex-container">
                <div class="popup-nav">
                    <div class="logo">
                        <img src="{% static 'img/JobPortal Logo Emblem.png' %}" alt="Cosmedic">
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'applicantProfile' %}" class="nav-link">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <span class="nav-text">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'applicantHome' %}" class="nav-link">
                                <ion-icon name="briefcase-outline"></ion-icon>
                                <span class="nav-text">Jobs</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'applicantNotif' %}" class="nav-link">
                                <ion-icon name="notifications-outline"></ion-icon>
                                <span class="nav-text">Notification</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <ion-icon name="notifications-outline"></ion-icon>
                                <span class="nav-text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="right-container">
                <div class="profile-header">
                    <span>Profile</span>
                </div>

                <div class="profile-container">
                    <div class="flex-profile">
                        <div class="name">
                            <div class="top-design"></div>
                            <div class="pic-container">
                                {% if job_post.profile.profile_pic %}
                                    <img class="profile-pic pic" src="{{ job_post.profile.profile_pic.url }}" alt="Profile Picture">
                                {% else %}
                                    <ion-icon name="person-sharp" class="picture"></ion-icon>
                                {% endif %}
                            </div>
                            <span class="profile-name">{{ job_post.title }}</span>
                        </div>


                        <div class="flex-personal-info">
                            <div class="peronal-info-container">
                                <span class="profile-info-h1">Job Ad Overview</span>
                                <div class="info-container">
                                    <span class="profile-info-h2">Company Name: </span>
                                    <span class="profile-info">{{ job_post.company_name }}</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Job Position: </span>
                                    <span class="profile-info">{{ job_post.job_position }}</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Employment Type: </span>
                                    <span class="profile-info">{{ job_post.employment_type }}</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Salary Offer: </span>
                                    <span class="profile-info">₱{{ job_post.salary_offer }}/month</span>
                                </div>

                            </div>
                            <div class="peronal-exp-container">
                                <span class="profile-info-h1">Nature of the Job</span>
                                <div class="info-container">
                                    <span class="profile-info-h2">Primary Duties and Responsibilities: </span>
                                    <span class="profile-info">{{ job_post.primary_duties }}</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Job Description: </span>
                                    {% for field_of_expertise in job_post.field_of_expertise.all %}
                                        <p class="tag">{{ field_of_expertise.name }}</p>
                                    {% endfor %}
                                    <span class="profile-info">{{ job_post.job_description }}</span>
                                </div>
                                <div class="info-container">
                                    <span class="profile-info-h2">Skills Required: </span>
                                    <span class="profile-info"></span>
                                    <div class="tags" id="job-tags-container">
                                        {% for skill_recommended in job_post.skills_recommended.all %}
                                            <p class="tag">{{ skill_recommended.name }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-container">
                            <ul>
                                <li>
                                    <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
                                    </span>
                                    <span class="text">Contact Number</span>
                                    <span class="text">+{{ job_post.profile.phone_number }}</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    </span>
                                    <span class="text">Email: </span>
                                    <span class="text">{{ job_post.profile.user.email }}</span>
                                </li>
                                <li>
                                    <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                    <span class="text">Address: </span>
                                    <span class="text">{{ job_post.profile.address }}</span>                                    </span>
                                </li>
                             </ul>
                        </div>
                    </div>

                    <div class="flex-edit">
                        <div class="edit-container">
                            <a>
                                <button class="edit"> Apply for Job</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
        <script src="newmember-chart.js"></script>
        <script src="earning-chart.js"></script>
    </body>
</html>