{% load static %}
<html>
    <head>
        <title>Edit Profile</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/employee-edit.css' %}">
        <link rel="icon" href="{% static 'img/JobPortal Logo Emblem White-BG.png' %}" type="image/icon type">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
    </head>
    <body>
        <div class="main-container">
            <div class="header"></div>
            <div class="flex-container">
                <div class="popup-nav">
                    <div class="logo">
                        <img class="logo" src="{% static 'img/JobPortal Logo Emblem White-BG.png' %}" alt="logo">
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'applicantProfile' %}" class="nav-link">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <span class="nav-text">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'applicantHome' %}" class="nav-link">
                                <ion-icon name="briefcase-outline"></ion-icon>
                                <span class="nav-text">Jobs</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'applicantNotif' %}" class="nav-link">
                                <ion-icon name="notifications-outline"></ion-icon>
                                <span class="nav-text">Notification</span>
                                <span class="nav-text">{{ unread_notification_count }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href=""  class="nav-link" data-toggle="modal" data-target="#logoutModal">
                                <ion-icon name="log-out-outline"></ion-icon>
                                <span class="nav-text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to log out?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <a href="{% url 'logout' %}"  type="button" class="btn btn-primary">Yes</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="right-container">

                <div class="edit-container">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="flex-edit">
                            <div class="edit">
                                <span class="profile-edit">Edit Profile</span>
                                <div class="container-delete">
                                    <input type="button" value="Delete Profile">
                                </div>
                            </div>

                            <div class="flex-edit-info">
                                <div class="edit-info-top">
                                    <div class="info-top-right">
                                        <span class="edit-info-h1">Personal Bio</span>
                                        <div class="info-container">
                                            <span class="edit-info-h2">First Name: </span>
                                            {{ form.first_name }}
                                        </div>
                                        <div class="info-container">
                                            <span class="edit-info-h2">Last Name: </span>
                                            {{ form.last_name }}
                                        </div>
                                        <div class="info-container">
                                            <span class="edit-info-h2">Address: </span>
                                            {{ form.address }}
                                        </div>
                                        <div class="info-container">
                                            <span class="edit-info-h2">Mobile Number: </span>
                                            {{ form.phone_number }}
                                        </div>
                                        <div class="info-container">
                                            <span class="edit-info-h2">Email: </span>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="info-top-right">
                                        <div class="profile-pic">
                                            <span class="edit-info-h1" >Change Profile</span>
                                            <div class="pic-container">
                                                {% if form.profile_pic.value %}
                                                    <img class="picture" src="{{ form.profile_pic.value.url }}" alt="Profile Picture">
                                                {% else %}
                                                    <img class="profile-pic pic" src="{% static 'img/placeholder.png' %}" alt="Profile Picture">
                                                {% endif %}
                                            </div>
                                            {{ form.profile_pic }}
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-info-bottom">
                                    <div class="edit-info-container">
                                        <span class="edit-info-h1">Personal Bio</span>
                                        <div class="info-container">
                                            <span class="edit-info-h2">Birthday: </span>
                                            {{ form.birthday }}
                                        </div>
                                        <div class="info-container">
                                            <span class="edit-info-h2">Age: </span>
                                            {{ form.age }}
                                        </div>
                                        <div class="info-container">
                                            <span class="edit-info-h2">Citizenship: </span>
                                            {{ form.citizenship }}
                                        </div>
                                        <div class="info-container">
                                            <span class="edit-info-h2">Civil Status: </span>
                                            {{ form.civil_status }}
                                        </div>
                                        <div class="info-container">
                                            <span class="edit-info-h2">Gender: </span>
                                            {{ form.gender }}
                                        </div>
                                    </div>
                                <div class="edit-info-container">
                                    <span class="edit-info-h1">Professional Experience</span>
                                    <div class="container-tags">
                                        <div class="info-container">
                                            <div class="container-skill">
                                                <span class="edit-info-h2">Skills: </span>
                                                <div class="autocomplete-container">
                                                    {{ form.skills }}
                                                </div>
                                                <div class="tags" id="skill-tags-container"></div>
                                            </div>
                                        </div>
                                        <div class="info-container">
                                            <div class="container-job">
                                                <span class="edit-info-h2">Field Of Experties: </span>
                                                <div class="autocomplete-container">
                                                    {{ form.field_of_expertise }}
                                                </div>
                                                <div class="tags" id="job-tags-container"></ion-icon></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-container">
                                        <span class="edit-info-h2">Change Resume: </span>
                                        {% if form.resume.value %}
                                            <a href="{{ form.resume.value.url }}" target="_blank">
                                                <input type="button" class="resume" value="View Resume">
                                            </a>
                                        {% else %}
                                            <p>No resume available.</p>
                                        {% endif %}
                                        {{ form.resume }}
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="flex-button">
                                {{ form.errors }}
                                <div class="edit-button-container">
                                    <input type="submit" class="finish" value="Done"></input>
                                    <a href="{% url 'applicantProfile' %}">
                                        <button class="finish">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="{% static 'js/skillsAndJobs.js' %}"></script>
        <script>
            window.onload = function() {

                // ---------------
                // basic usage
                // ---------------
                var $ = new City();
                $.showProvinces("#province");
                $.showCities("#city");

                // ------------------
                // additional methods
                // -------------------

                // will return all provinces
                console.log($.getProvinces());

                // will return all cities
                console.log($.getAllCities());

                // will return all cities under specific province (e.g Batangas)
                console.log($.getCities("Batangas"));

            }
        </script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>