<html>
    <head>
        <title>Job Offer</title>
        <link rel="stylesheet" type="text/css" href="company-job-offers.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-container">
            <div class="header"></div>
                <div class="flex-container">
                    <div class="popup-nav">
                        <div class="logo">
                            <img src="JobPortal Logo Emblem.png" alt="Cosmedic">
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="employee-profile.html" class="nav-link">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                    <span class="nav-text">Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="employee-jobs.html" class="nav-link">
                                    <ion-icon name="briefcase-outline"></ion-icon>
                                    <span class="nav-text">Jobs</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="employee-notif.html" class="nav-link">
                                    <ion-icon name="notifications-outline"></ion-icon>
                                    <span class="nav-text">Notification</span>
                                </a>
                        </ul>
                    </div>
                </div>


            <div class="right-container">
                <div class="client-header">
                    <div class="client-flex">
                        <span>Jobs</span>
                        <div class="search-container">
                            <input type="text" placeholder="Search job interest here...">
                            <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
                <div class="profile-container">

                    <div class="grid-profile">
                        <div class="name">
                            <div class="top-design"></div>
                            <div class="company-info">
                                <span class="company-name">Job Ad Title</span>
                                <span class="company-ad-h1">Company Name</span>
                                <span class="company-pos-h1">Job Position</span>
                                <span class="company-add">Address</span>
                                <span class="company-add">Part-time / Full-time</span>
                                <span class="company-add"> Salary Offer</span>
                                    <details class="accordion">
                                        <summary class="accordion-btn">Primary Duties and Responsibility:</summary>
                                        <div class="accordion-content">
                                          <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt, iste ut incidunt officia maxime impedit sit eligendi labore inventore, reprehenderit excepturi voluptas sequi eos dolorem voluptatibus porro voluptate dolorum.
                                          </p>
                                        </div>
                                    </details>
                                <div class="peronal-info-container">
                                    <details class="accordion">
                                        <summary class="accordion-btn">Job Description:</summary>
                                        <div class="accordion-content">

                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt, iste ut incidunt officia maxime impedit sit eligendi labore inventore, reprehenderit excepturi voluptas sequi eos dolorem voluptatibus porro voluptate dolorum.
                                            </p>
                                        </div>
                                    </details>
                                </div>
                                <div class="flex-edit">
                                    <div class="edit-container">
                                        <a href="employee-edit.html">
                                            <button class="edit"> Edit Job</button>
                                        </a>
                                        <a href="employee-edit.html">
                                            <button class="edit"> Activate / Deactivate</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="name">
                            <div class="top-design"></div>
                            <div class="company-info">
                                <span class="company-name">Job Ad Title</span>
                                <span class="company-ad-h1">Company Name</span>
                                <span class="company-pos-h1">Job Position</span>
                                <span class="company-add">Address</span>
                                <span class="company-add">Part-time / Full-time</span>
                                <span class="company-add"> Salary Offer</span>
                                    <details class="accordion">
                                        <summary class="accordion-btn">Primary Duties and Responsibility:</summary>
                                        <div class="accordion-content">
                                          <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt, iste ut incidunt officia maxime impedit sit eligendi labore inventore, reprehenderit excepturi voluptas sequi eos dolorem voluptatibus porro voluptate dolorum.
                                          </p>
                                        </div>
                                    </details>
                                <div class="peronal-info-container">
                                    <details class="accordion">
                                        <summary class="accordion-btn">Job Description:</summary>
                                        <div class="accordion-content">

                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt, iste ut incidunt officia maxime impedit sit eligendi labore inventore, reprehenderit excepturi voluptas sequi eos dolorem voluptatibus porro voluptate dolorum.
                                            </p>
                                        </div>
                                    </details>
                                </div>
                                <div class="flex-edit">
                                    <div class="edit-container">
                                        <a href="employee-edit.html">
                                            <button class="edit"> Edit Job</button>
                                        </a>
                                        <a href="employee-edit.html">
                                            <button class="edit"> Activate / Deactivate</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="name">
                            <div class="top-design"></div>
                            <div class="company-info">
                                <span class="company-name">Job Ad Title</span>
                                <span class="company-ad-h1">Company Name</span>
                                <span class="company-pos-h1">Job Position</span>
                                <span class="company-add">Address</span>
                                <span class="company-add">Part-time / Full-time</span>
                                <span class="company-add"> Salary Offer</span>
                                    <details class="accordion">
                                        <summary class="accordion-btn">Primary Duties and Responsibility:</summary>
                                        <div class="accordion-content">
                                          <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt, iste ut incidunt officia maxime impedit sit eligendi labore inventore, reprehenderit excepturi voluptas sequi eos dolorem voluptatibus porro voluptate dolorum.
                                          </p>
                                        </div>
                                    </details>
                                <div class="peronal-info-container">
                                    <details class="accordion">
                                        <summary class="accordion-btn">Job Description:</summary>
                                        <div class="accordion-content">

                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt, iste ut incidunt officia maxime impedit sit eligendi labore inventore, reprehenderit excepturi voluptas sequi eos dolorem voluptatibus porro voluptate dolorum.
                                            </p>
                                        </div>
                                    </details>
                                </div>
                                <div class="flex-edit">
                                    <div class="edit-container">
                                        <a href="employee-edit.html">
                                            <button class="edit"> Edit Job</button>
                                        </a>
                                        <a href="employee-edit.html">
                                            <button class="edit"> Activate / Deactivate</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recco">
                        <div class="top-design"></div>
                                <div class="recco-container">
                                <span>Applicants</span>
                                    <div class="recco-scroll">
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm</p>
                                                <p>Field Of Experties: Cosmetic Dermatology</p>
                                                <p>Years of Experience: 1</p>
                                                <p>Contact Number: +639186453724</p>

                                        </div>
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm</p>
                                                <p>Field Of Experties: Cosmetic Dermatology</p>
                                                <p>Years of Experience: 1</p>
                                                <p>Contact Number: +639186453724</p>

                                        </div>
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm</p>
                                                <p>Field Of Experties: Cosmetic Dermatology</p>
                                                <p>Years of Experience: 1</p>
                                                <p>Contact Number: +639186453724</p>

                                        </div>
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm</p>
                                                <p>Field Of Experties: Cosmetic Dermatology</p>
                                                <p>Years of Experience: 1</p>
                                                <p>Contact Number: +639186453724</p>

                                        </div>
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm</p>
                                                <p>Field Of Experties: Cosmetic Dermatology
                                                <p>Years of Experience: 1
                                                <p>Contact Number: +639186453724

                                        </div>
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm
                                                <p>Field Of Experties: Cosmetic Dermatology
                                                <p>Years of Experience: 1
                                                <p>Contact Number: +639186453724

                                        </div>
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm
                                                <p>Field Of Experties: Cosmetic Dermatology
                                                <p>Years of Experience: 1
                                                <p>Contact Number: +639186453724

                                        </div>
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm
                                                <p>Field Of Experties: Cosmetic Dermatology
                                                <p>Years of Experience: 1
                                                <p>Contact Number: +639186453724

                                        </div>
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm
                                                <p>Field Of Experties: Cosmetic Dermatology
                                                <p>Years of Experience: 1
                                                <p>Contact Number: +639186453724

                                        </div>
                                        <div class="recco-company">
                                            <h1>Applicant Name</h1>
                                            <p>Professional Experience
                                                <p>Current Company: Skinol Derm
                                                <p>Field Of Experties: Cosmetic Dermatology
                                                <p>Years of Experience: 1
                                                <p>Contact Number: +639186453724

                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        </body>
    </html>