{% load static %}
<html>
    <head>
        <title>Dermatologist</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin-list-activity.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/8a0bbee573.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Patua+One&family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-container">
            <div class="header"></div>
            <div class="flex-container">
                <div class="popup-nav">
                    <div class="logo">
                        <img class="logo" src="{% static 'img/JobPortal Logo Emblem.png' %}" alt="logo">
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'adminListUser' %}" class="nav-link">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <p class="nav-text">User List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'employeeHome' %}" class="nav-link">
                                <ion-icon name="briefcase-outline"></ion-icon>
                                <p class="nav-text">Job List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'adminListActivity' %}" class="nav-link">
                                <ion-icon name="notifications-outline"></ion-icon>
                                <p class="nav-text">Activity Log</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <ion-icon name="log-out-outline"></ion-icon>
                                <p class="nav-text">Logout</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="right-container">
                <div class="dashboard-header">
                    <span>Activity Log</span>
                </div>

                <div class="container-table">
                    <div class="container-btn">
                        <div class="filter">
                            <div class="dropdown toggle">
                                <input id="t1" type="checkbox" checked>
                                <label for="t1">Sort By</label>
                                <ul>
                                  <li><a href="#">Name</a></li>
                                  <li><a href="#">di ko po alam</a></li>
                                  <li><a href="#">ano lalagay</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="container-pdf">
                            <div class="view-pdf">
                                <ion-icon name="eye-outline"></ion-icon>
                                <input type="button" value="View PDF">
                            </div>
                            <div class="download-pdf">
                                <ion-icon name="arrow-down-circle-outline"></ion-icon>
                                <input type="button" value="Print PDF">
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td>Larry the Bird</td>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <script>
            $(document).click(function(event) {
            if(
                $('.toggle > input').is(':checked') &&
                !$(event.target).parents('.toggle').is('.toggle')
            ) {
                $('.toggle > input').prop('checked', false);
            }
            })
        </script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>